.category-page__list {
    list-style: none;
    padding-left: 0;
}

.category-page__row {
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 2rem;
}

.categories-page__group-title {
    text-transform: capitalize;
}

.categories-page__group-list {
    padding: 0;
}

.categories-page__item {
    list-style-type: none;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.categories-page__link {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.category__page-title {
    font-size: 1rem;
    float: right;
    line-height: 3rem;
}